body{
    background-color:black;
}

header{
    height: -10px;
}



}
h1{
    color: white;
    font-size: 20px;
    text-align: left;
}
 
.navigation {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    
}

button {
    color: white;
    background-color: black;
    transition-duration: 0.5s;
    font-family: maiola, serif;
    font-size: 16px;
    border: none;
    position: relative;
    right: -125px;
    top: -62px;
    padding: 10px 23px;
}

button:hover{
    background-color: white;
    
}

.Photo-Logo{
    position: relative;
    right: -300px;
    top: 30px;
}

.Section-One{
    background-color:  black;
    top: -10;
}

.Photo-Logo{
    width: 500px;
    display: flex;
}

.Body-Photo{
    display: flex;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 10%;
}

p{
    color: white;
    text-align: center;
    font-size: 35px;
    text-align: center;
    font-family: mokoko, serif;
    padding: 0px;
}


.footer-1{
    font-size: 10px;
    text-align: left;
    padding:  0px 250px;
    
}

.footer-2{
    font-size: 10px;
    text-align: left;
    padding:  0px 250px;
}

