body{
    background-color: black;
}

header{
    height: 100px;
}

ul{
    position: relative;
    left: -250px;
    top: 20px;
    padding: 30px;
    float: right;

}
 
.navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

button{
    color: white;
    background-color: black;
    border: none;
    font-family: mokoko, serif;
}


button:hover{
    background-color: grey;
    
}

.Photo-Logo{
    float: left ;
    width: 110px;
    margin-left: 300px;
    margin-right: auto;
    top: 20px;

}

h1{
    color: white;
    text-align: center;
    font-family: mokoko, serif;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    

 }
/*body*/

main{
    padding: 2%;
    height: auto;
    justify-content: center;
}

.text-2{
    color: white;
    font-size: 20px;
    font-family: mokoko, serif;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Sec-one{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  justify-content: space-evenly;
}

.Sec-two{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  justify-content: space-evenly;
    
}

.section-one {
    position: relative;
    padding: 35px;
  }
  
  .image {
    display: flex;
    width: 285px;
    height: 300px;
  }
  
  .overlay {
    display: flex;
    position: absolute;
    top: 35px;
    left: 35px;
    height: 300px;
    width: 285px;
    opacity: 0;
    transition: .4s ease;
    background-color: white;
  }

  .overlay-2 {
    display: flex;
    position: absolute;
    top: 35px;
    left: 35px;
    height: 300px;
    width: 285px;
    opacity: 0;
    transition: .4s ease;
    background-color: white;
  }
  
  .section-one:hover .overlay {
    opacity: 1;
  }

  .section-one:hover .overlay-2 {
    opacity: 1;
  }

  .text {
    color: black;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }




/*footer*/



h2{
    color: white;
    font-family: mokoko, serif ;;
    font-size: 10px;
    text-align: left;
    padding:  0px 250px;
    padding-top: 2%;
}

h3{
    color: white;
    font-family: mokoko, serif ;
    font-size: 10px;
    text-align: left;
    padding:  0px 250px;
    padding-bottom: -3%;
}

.ig-photo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -40px;
    width: 0%;
    
}