body{
    background-color: black;
}


header{
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: mokoko, serif;
}

.section-one{
    background-color: white;
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background-color: black;
    display: flex;
    height: auto;
    width: auto;
}


/*body*/




footer{
    background-color: white;
    height: 100px;
    width: auto;
}



.footer-1{
    font-size: 10px;
    text-align: left;
    padding:  0px 250px;
    
}

.footer-2{
    font-size: 10px;
    text-align: left;
    padding:  0px 250px;
}

.ig-photo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 10%;
  
}